body{
    margin:0;
    padding:0;
    font-family:dosis;
    background-color: rgb(211, 209, 209);
    box-sizing: border-box;
    background-size: cover; 
    background-repeat: no-repeat;
}
#cal{
    margin-right: auto;
    margin-left: auto;
    position: relative;
    border-collapse:collapse;
    box-sizing: 90px ;
    border-color: rgb(33, 18, 18);
  }
.operation{
    background-color: rgb(159, 158, 158) !important;
}
.table{
   margin: 0 auto;
   width: 265px;
   height: 420px;
   size: 100px;
   top: 160px;
   position:relative;
   background-color: rgb(181, 176, 176);
   border-radius: 37px;
   box-shadow: #583030 0 0 35px;
}

input[type="button"]{
  size: 100px;
  width: 50px;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  background-color: rgb(221, 214, 214);
  border-radius: 15px;
  font-size: 22px;
  box-shadow: inset -3px -3px 10px rgb(114, 114, 114);
}
input[type="text"]{
  box-shadow: inset -3px -3px 10px rgb(139, 97, 97);
  margin-top: 35px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  width:215px;
  height: 70px;
  grid-column: span 100;
  background-color: rgb(221, 214, 214);
  border-radius: 25px;
  font-size: 25px;
}
#clear,#del{
  background-color: rgb(213, 65, 65);
}

#equal{
  width:115px;
  background-color: rgb(213, 65, 65);
  box-shadow: inset -3px -3px 10px rgb(139, 97, 97);
}

input[type="button"]:active{
  background-color:#888fa5;
}